<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.termux"
    android:installLocation="auto"
    android:sharedUserId="com.termux"
    android:sharedUserLabel="@string/shared_user_label">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />       <!--  发送消息 -->
    <uses-permission android:name="android.permission.SEND_SMS" />       <!--  阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS" />       <!--  写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />      <!--  接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="main.java.com.termux.application.TermuxApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@drawable/home"
        android:label="@string/application_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Termux"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:theme">
        <activity
            android:name="main.java.com.termux.linux_deploy.LinuxdeployActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="main.java.com.termux.activity.FunAddActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.KeyConfigActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.CustomActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.WindowsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.ThanksActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="main.java.com.termux.activity.StartCommdActivity" />
        <activity
            android:name="main.java.com.termux.activity.LinuxDeployActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.app.TestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.FunctionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.DownloadActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name="main.java.com.termux.app.DownLoadService"
            android:enabled="true"
            android:exported="true" />
        <!--
             This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8
             mark the app with "This app is optimized to run in full screen."
        -->
        <meta-data
            android:name="android.max_aspect"
            android:value="10.0" />

        <activity
            android:name="main.java.com.termux.app.TermuxActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="main.java.com.termux.app.TermuxHelpActivity"
            android:exported="false"
            android:label="@string/application_name"
            android:parentActivityName=".app.TermuxActivity"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
        <activity
            android:name=".filepicker.TermuxFileReceiverActivity"
            android:excludeFromRecents="true"
            android:label="@string/application_name"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:taskAffinity="com.termux.filereceiver">

            <!-- Accept multiple file types when sending. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <!-- Be more restrictive for viewing files, restricting ourselves to text files. -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/*xml*" />
                <data android:mimeType="application/*latex*" />
                <data android:mimeType="application/javascript" />
            </intent-filter>
        </activity>

        <provider
            android:name="main.java.com.termux.filepicker.TermuxDocumentsProvider"
            android:authorities="com.termux.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name="main.java.com.termux.app.TermuxService"
            android:exported="false" />

        <receiver android:name=".app.TermuxOpenReceiver" />

        <provider
            android:name="main.java.com.termux.app.TermuxOpenReceiver$ContentProvider"
            android:authorities="com.termux.files"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="android.permission.permRead" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity android:name="main.java.com.termux.app.SettingActivity" />
        <activity android:name="main.java.com.termux.app.BackupActivity" />
        <activity android:name="main.java.com.termux.app.RestoreActivity" />
        <activity
            android:name="main.java.com.termux.activity.RepairActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name="sharedcode.turboeditor.activity.MarkdownActivity" />
        <activity android:name="sharedcode.turboeditor.activity.SelectFileActivity" />
        <activity
            android:name="main.java.com.termux.app.EditTextActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SaveAsActivity"
            android:label="Save as">

            <!-- Save as a file: scheme (e.g. After downloading attachment in GMail -->
            <!--
            ** DEACTIVATED FOR NOW, because it interferes with many commands **
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="file" android:host="*" android:mimeType="*/*"/>
       		</intent-filter>
            -->
            <!-- Save as a content: scheme with CATHEGORY_OPENABLE - the right way -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.OPENABLE" />

                <data
                    android:mimeType="*/*"
                    android:scheme="content" />
            </intent-filter>
            <!--
                 Special intent for GMail attachments. GMail doesn't use CATEGORY_OPENABLE,
            	 although it's possible to use ContentResolver.openFileReader().
            	 For further applications like GMail, just copy following five lines and change "gmail-ls"
            	 to something else. You will also have to do some changes in SaveAsActivity.java
            -->
            <!--
            ** DEACTIVATED FOR NOW, because it interferes with many commands **
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:scheme="content" android:mimeType="*/*" android:host="gmail-ls"/>
       		</intent-filter>
            -->
        </activity>

        <provider
            android:name="main.java.com.termux.filemanage.filemanager.bookmarks.BookmarksProvider"
            android:authorities="com.termux.filemanager.filemanager.bookmarks" />
        <provider
            android:name="main.java.com.termux.filemanage.filemanager.search.SearchResultsProvider"
            android:authorities="com.termux.filemanager.filemanager.search" />
        <provider
            android:name="main.java.com.termux.filemanage.filemanager.search.SearchSuggestionsProvider"
            android:authorities="com.termux.filemanager.filemanager.search.suggest" />
        <provider
            android:name="main.java.com.termux.filemanage.filemanager.FileManagerProvider"
            android:authorities="com.termux.filemanager.filemanager"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Activities from OI Distribution Library -->
        <activity
            android:name="org.openintents.distribution.EulaActivity"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="NewApi" />

        <service
            android:name="main.java.com.termux.linux_deploy.ExecService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="org.openintents.distribution.NewVersionActivity"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="NewApi" />
        <activity
            android:name=".search.SearchableActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="main.java.com.termux.filemanage.filemanager.search.RecentsSuggestionsProvider"
            android:authorities="com.termux.filemanager.filemanager.search.SuggestionProvider" />

        <service android:name=".search.SearchService" />

        <activity android:name="main.java.com.termux.filemanage.filemanager.IntentFilterActivity">
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:scheme="file" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

            <!-- Filter for multi select feature -->
            <intent-filter>
                <action android:name="org.openintents.action.MULTI_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="main.java.com.termux.filemanage.filemanager.PreferenceActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name="main.java.com.termux.filemanage.filemanager.FileManagerActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name="main.java.com.termux.activity.SwitchActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="main.java.com.termux.floatwindows.TermuxFloatPermissionActivity"
            android:theme="@android:style/Theme.Material" />

        <service
            android:name="main.java.com.termux.floatwindows.TermuxFloatService"
            android:exported="false" />
    </application>

</manifest>
